#project{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 1rem;
}
.projectHeading{
    text-align: center;
}
.cards-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.carde{
    background-color: rgb(30, 30,30);
    border: 2px solid white;
    color: white;
    margin-bottom: 1rem;
}
.projectLink{
    text-decoration: none;
    color: orange;
}
.projectLink:hover{
    color: orangered;
    cursor: pointer;
}