#about {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 1rem; 
}
.about-para,.about-list{
    font-weight:200;
    /*  */
}
.contentpara{
    margin-top:5px;
}
